// 1920 - 1130
// 1280 - 1130
// 1024 - 924
// 768 - 668
// 480 - 420
// 320 - (300 или 280)


@media (max-width: 1200px){
    .container{
        max-width: 960px;
    }
    .about{
        &__wrapper{
            grid-template-columns: 400px 490px;
        }
        &-skill{
            gap: 20px 30px;
        }
    }
    .resume{
        &__wrapper{
            column-gap: 95px;
        }
    }
    .skills{
        &__wrapper1{
            
            grid-template: repeat(3, 280px) / repeat(3, 280px);
            justify-content: center;

        }
        &__wrapper2{
            grid-template-columns: repeat(2, 350px);
            grid-template-rows: repeat(3, 70px);
            justify-content: center;
        }
    }
    .contact{
        &__wrapper{
            grid-template-columns: 350px 500px;
        }
        &__form{
            grid-template-columns: repeat(2,240px);
        }
        &__trigger{
            input{
                width: 20px;
                height: 20px;
                margin-left: 30px;  
            }
        }
    }
}

@media (max-width: 1120px){
    .socials{
        display: none;
    }
    .title{
        font-size: 26px;
        line-height: 39px;
    }
    .about{
        &__wrapper{
            column-gap: 50px;
        }
        
    
        &-skill{
            grid-template-columns: repeat(2, 230px);
            &__right{
                width: 170px;
            }
        }
    }
    .mywork{
        &__wrapper{
            grid-template: repeat(2, 280px) / repeat(3, 280px);
            justify-content: center;
            .horizont{
                grid-column: revert;
                grid-row: revert;
            }
            .vertical{
                grid-row: revert;
                grid-column: revert;
            }
         }
    }
    .contact{
        &__trigger{
            div{
                display: flex;
                align-items: center;
            }
        }
    }
    .btn_form{
        padding: 0 10px;
    }
}

@media (max-width: 992px){
    .container{
        max-width: 720px;
    }
    .about{
        padding-top: 40px;
        &__wrapper{
            grid-template-columns: 300px 380px;
            column-gap: 25px;
        }
        &-skill{
            grid-template-columns: 1fr;
            &__right{
                width: 310px;
            }
        }
    }
    .resume{
        &__wrapper{
            grid-template-columns: repeat(2,300px);
            padding-left: 55px;
            column-gap: 55px;

        }
    }
    .skills{
        &__wrapper1{
            grid-template: repeat(4, 280px) / repeat(2, 280px);

        }
        &__wrapper2{
            grid-template-columns: repeat(2, 300px);
            grid-template-rows: repeat(3, 70px);
        }
    }
    .mywork{
        &__wrapper{
            grid-template: repeat(3, 280px) / repeat(2, 280px);
        }
    }
    .price{
        &__wrapper{
            margin-top: 40px;
            padding: 0 25px 0 50px;
            grid-template: repeat(3,45px)/repeat(2, 300px);
        }
    }
    .contact{
        margin: 46px 0;
        &__photo{
            display: none;
        }
        &__wrapper{
            grid-template-columns: 1fr;
        }
        &__form{
            grid-template-columns: repeat(2,300px);
        }
    }
   
}

@media (max-width: 768px){
    .container{
        max-width: 540px;
    }
    .about{
        &__wrapper{
            grid-template-columns: 540px;
            column-gap: 20px;

        }
        &__descr{
            padding-top: 26px;
        }
        &-skill{
            width: 300px;
            &__right{
                width: 310px;
            }
        }
    }
    .resume{
        padding-top: 46px;
        &__wrapper{
            grid-template-columns: 450px;
            grid-template-rows: repeat(2, minmax(430px, auto));
            
        }
    }
    .skills{
        &__wrapper1{
            margin-top: 20px;
            grid-template: repeat(4, 280px) / 280px;

        }
        &__wrapper2{
            margin-top: 40px;
            grid-template-columns: 350px;
            grid-template-rows: repeat(3, 70px);
        }
    }
    .mywork{
        &__wrapper{
            margin-top: 40px;
            grid-template: repeat(6, 280px) / 520px;
        }
    }
    .price{
        margin-top: 46px;
        &__wrapper{
            grid-template: repeat(3,45px)/1fr;
            row-gap: 20px;
            margin-top: 20px;
        }
        &__item{
            width: 85%;
        }
    }
    .contact{
        margin-top: 0;
        padding: 40px 0;
        &__wrapper{
            grid-template-columns: 1fr;
            padding: 0;
        }
        
        &__form{
            grid-template-columns: repeat(2,240px);
        }
    }
    
}

@media (max-width: 576px){
    .container{
        max-width: 100%;
        padding: 0 10px;
        
    }
    .promo{
        &__links{
            margin-top: 32px;
        }
    }
    .menu__open{
        width: 250px;
        padding-left: 55px;
    }
    .about{
        &__wrapper{
            grid-template-columns: minmax(300px, 560px);
            grid-template-rows: 340px 370px 380px;
        }
        &__photo{
            grid-row: auto;
        }
        &__text{
            padding: 0 5px;
        }
        &-skill{
            &__item{
                justify-content: flex-start;
                gap: 20px;


            }
            &__right{
                width: 200px;   
            }
        }
    }
    .resume{
        &__wrapper{
            grid-template-columns: 250px;
            grid-template-rows: repeat(2, minmax(430px, auto));
            row-gap: 40px;
        }
        &__item{
            &-head{
                width: 220px;
            }
            &-body{
                width: 250px    ;
            }
        }
    }
    .skills{
        &__wrapper2{
            justify-content: center;
            grid-template-columns: minmax(300px, 350px);
        }
    }
    .mywork{
        &__wrapper{
            justify-content: center;
            grid-template: repeat(6, 280px) / 280px;
        }
    }
    .price{
        &__wrapper{
            padding: 0;
            padding-left: 25px;

        }
        &__item{
            width: 100%;
        }
    } 
    .contact{
        &__form{
            display: flex;
            flex-direction: column;
        }
        &__input{
            height: 45px;
        }
        &__trigger{
            display: flex;
            align-items: stretch;
            flex-direction: column-reverse;
            justify-content: space-between;
            row-gap: 25px;
        }
    }  
}