.promo{
    min-height: 100vh;
    position: relative;
    background: url('../../img/promo-img.png') no-repeat center;
    background-size: cover;
    padding-top: 206px;
    &__links{
        display: flex;
        align-items: center;
        gap: 44px;
    }
    &__link{
        font-weight: 700;
        font-size: 14px;
        line-height: 21 px;
        color:#ffecec;
        text-decoration: none;
        &:hover{
            color: #000;
        }
    }
    
}
