.resume{
    padding-top: 120px;
    &__wrapper{
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(2, 375px);
        column-gap: 186px;
        padding-left: 115px;
    }
    &__item{
        position: relative;
        &:before{
            content:'';
            width: 43px;
            height: 1px;
            position: absolute;
            background: #000;
            left: -42px;
            top: 18px;

        }
        &-location{
            padding-left: 56px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
        &-icon{
            position: relative;
            @include before_circle;
            &:before{
                top: 3px;
                transform: none;
                left: 0;
            }
            img{
                position: absolute;
                left: 18px;
                top: 15px;
            }
        }
        &-body{
            margin-top: 12px;
            font-size: 12px;
        }
        &::after{
            content: '';
            width: 1px;
            height: calc(100% + 45px);
            background-color: #000;
            position: absolute;
            left: -43px;
            top: -53px;
        }
        &-place{
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            padding-left: 56px;
            margin-top: 45px;
        }
    }
}