.skills{
    margin-top: 120px;
    &__wrapper1{
        margin: 60px 11px 0 11px;
        display: grid;
        grid-template: repeat(2, 270px)/repeat(4, 270px);
        gap: 13px;
    }
    &__item{
        padding: 30px 30px 25px 30px;
        border: 1px solid #000000;
        &-title{
            margin-top: 20px;
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
        }
        &-descr{
            margin-top: 15px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
    }
    &__wrapper2{
        margin-top: 120px;
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, 70px);
        gap: 30px 45px;
        &_item{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &_title{
            position: relative;
            padding-left: 13px;
            font-weight: 700;
            font-size: 14px;
            line-height: 30px;
            @include before_circle;
        }
        &_percent{
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
        }
        &_line{
            margin-top: 27px;
            width: 350px;
            height: 14px;
            background: #E8E4DE;
            border-radius: 4px;
            span{
                display: block; 
                height: 100%;
                background-color: blue;
                border-radius: 5px;
            }
        }
        
    }
}